

:root{
  /* color */
  --primary: #191A23;
  --secondary: #00C6C1;
  --navy:#D3FBD8;
  --black:#000000;
  --white:#ffffff;
  --gray:#F3F3F3;
  --dark:#191A23;
  
}


/* reset */




/* common 공통 */


/* fonts */

body {
  font-family: 'Space Grotesk', 'hahmlet', sans-serif;
  font-size:20px;
  font-weight:500;
}


p:lang(ko) {
  font-family: 'hahmlet';
  font-size:18px;
  font-weight:400;
}


.block{
  display: block;
}


/* Header */
header .nav-item{
  margin: 0 10px;
  margin-top: 5px;
}

header .nav-item:last-child{
  margin-top: 0px;
}
header .nav-item .btn{
  border:0.5px solid gray;
}

footer{
  height: 100px;
}
