

:root{
  /* color */
  --primary: #191A23;
  --secondary: #00C6C1;
  --navy:#D3FBD8;
  --black:#000000;
  --white:#ffffff;
  --gray:#F3F3F3;
  --dark:#191A23;
  
}


/* reset */




/* common 공통 */


/* fonts */

body {
  font-family: 'Space Grotesk', 'hahmlet', sans-serif;
  font-size:20px;
  font-weight:500;
}


p:lang(ko) {
  font-family: 'hahmlet';
  font-size:18px;
  font-weight:400;
}

header{
  font-family: 'Space Grotesk';
  font-weight:300;
}


.block{
  display: block;
}


/* Header */

header h1{
  font-size:30px;
  font-weight:600;
}
header .nav-item{
  margin: 0 20px;
  line-height: 28px;
}

header .nav-item:last-child{
  margin-top: 0px;

}
header .nav-item .btn{
  border:0.5px solid gray;
  border-radius: 14px;
  font-size:20px;
  line-height: 28px;
  margin:0;
  padding: 20px 35px;
  line-height: 28px;
}

footer{
  height: 100px;
}




/* main */

.main_wrapper h2{
  margin-bottom: 35px;
}

.main_wrapper h2 span{
  font-size: 60px;
  line-height: 77px;
}
.main_wrapper p{
  font-size: 20px;
  line-height: 28px;
}

.main_wrapper .btn_portfolio{
  background-color: var(--black);
  padding: 35px 20px;
  border-radius: 14px;
  font-size: 20px;
  margin-top: 150px;
}
.main_wrapper .btn_portfolio a{
color: var(--white);
}

